<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  >

  <!-- ----------------------------面包屑导航：开始 ------------------------------>
 <section class="content-header" th:fragment="breadcrumb(activeMenuId)">
      <h1>
        	入库管理
        <small>入库单列表</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="#">库存管理</a></li>
        <li class="active">入库管理</li>
      </ol>
    </section>
 <!-- ----------------------------面包屑导航：开始 ------------------------------>
 
 
    <!-- ----------------------------页面头部内容：开始 ------------------------------>
    <header class="main-header" th:fragment="header(userId)">
    <!-- Logo -->
    <a  class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>固</b>管</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>学校固资管理</b>系统</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
         
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img th:src="@{/ALTE/dist/img/user2-160x160.jpg}" class="user-image" alt="User Image" />
              <span class="hidden-xs" th:text="${session.SPRING_SECURITY_CONTEXT.authentication.principal.username}  ">张主任</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img th:src="@{/ALTE/dist/img/user2-160x160.jpg}" class="img-circle" alt="User Image"/>
              </li>
              <!-- Menu Body -->
             
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="/home" class="btn btn-default btn-flat">首页</a>
                </div>
                <div class="pull-right">
                  <a href="/logout" class="btn btn-default btn-flat">注销登陆</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- ----------------------------页面头部内容：结束 ------------------------------>
  
  
  <!-- ----------------------------左侧菜单栏：开始 ------------------------------>

  <aside class="main-sidebar" th:fragment="menu(activeId,userId)">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img th:src="@{/ALTE/dist/img/user2-160x160.jpg}" class="img-circle" alt="User Image"/>
        </div>
        <div class="pull-left info">
          <p th:text="${session.SPRING_SECURITY_CONTEXT.authentication.principal.username}  ">张主任</p>
          <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="搜索...">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree" >
        <li class="header">功能模块</li>
        
        <li th:class="${session.CURRENT_MENU.resourceName == 'home'} ? 'active' ">
          <a href="/home">
            <i class="fa fa-th"></i> <span>首页</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-green">6</small>
            </span>
          </a>
        </li>
        
        <li class="treeview" 
        	th:each="folder : ${session.menuFolders}" 
        	th:class="${session.CURRENT_FOLDER.resourceId == folder.resourceId} ? 'treeview active' : 'treeview'" >
          <a href="#">
            <i class="fa fa-pie-chart" th:class="${folder.icon}"></i>
            <span th:text="${folder.remark}"></span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li th:each="menu : ${session.menuUrls}" 
            th:class="${menu.resourceId == session.CURRENT_MENU.resourceId} ? 'active' : ''" 
            th:id="${'menu_'+menu.resourceName}" 
            th:if="${menu.parentId == folder.resourceId}">
            	<a  href="pages/charts/chartjs.html" th:href="${menu.resourceUrl}" th:text="${menu.remark}">
            	<i class="fa fa-circle-o" th:class="${folder.icon}"></i>
              </a>
            </li>
          </ul>
        </li>
        
      </ul>
    </section>

    <!-- /.sidebar -->
  </aside>

    <!-- ----------------------------左侧菜单栏：结束 ------------------------------>
    
    <!-- ----------------------------页面底部：开始 ------------------------------>
    <!-- /.content-wrapper -->
  <footer class="main-footer" th:fragment="footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 0.1
    </div>
    <strong>Copyright &copy; 2018-2099 <a href="https://adminlte.io">北京交通大学附属中学</a>.</strong> All rights
    reserved.
  </footer>
  <!-- ----------------------------页面底部：结束 ------------------------------>
  </html>