<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fixed.asset.mapper.UseGroupMapper">
  <resultMap id="BaseResultMap" type="com.fixed.asset.model.UseGroup">
    <id column="group_id" jdbcType="INTEGER" property="groupId" />
    <result column="group_name" jdbcType="INTEGER" property="groupName" />
    <result column="group_remark" jdbcType="INTEGER" property="groupRemark" />
    <result column="group_code" jdbcType="VARCHAR" property="groupCode" />
    <result column="parent_group_id" jdbcType="INTEGER" property="parentGroupId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    group_id, group_name, group_remark, group_code, parent_group_id
  </sql>
  <select id="selectByExample" parameterType="com.fixed.asset.model.UseGroupExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from use_group
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from use_group
    where group_id = #{groupId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from use_group
    where group_id = #{groupId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fixed.asset.model.UseGroupExample">
    delete from use_group
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fixed.asset.model.UseGroup">
    insert into use_group (group_id, group_name, group_remark, 
      group_code, parent_group_id)
    values (#{groupId,jdbcType=INTEGER}, #{groupName,jdbcType=INTEGER}, #{groupRemark,jdbcType=INTEGER}, 
      #{groupCode,jdbcType=VARCHAR}, #{parentGroupId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.fixed.asset.model.UseGroup">
    insert into use_group
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="groupId != null">
        group_id,
      </if>
      <if test="groupName != null">
        group_name,
      </if>
      <if test="groupRemark != null">
        group_remark,
      </if>
      <if test="groupCode != null">
        group_code,
      </if>
      <if test="parentGroupId != null">
        parent_group_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="groupId != null">
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="groupName != null">
        #{groupName,jdbcType=INTEGER},
      </if>
      <if test="groupRemark != null">
        #{groupRemark,jdbcType=INTEGER},
      </if>
      <if test="groupCode != null">
        #{groupCode,jdbcType=VARCHAR},
      </if>
      <if test="parentGroupId != null">
        #{parentGroupId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fixed.asset.model.UseGroupExample" resultType="java.lang.Long">
    select count(*) from use_group
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update use_group
    <set>
      <if test="record.groupId != null">
        group_id = #{record.groupId,jdbcType=INTEGER},
      </if>
      <if test="record.groupName != null">
        group_name = #{record.groupName,jdbcType=INTEGER},
      </if>
      <if test="record.groupRemark != null">
        group_remark = #{record.groupRemark,jdbcType=INTEGER},
      </if>
      <if test="record.groupCode != null">
        group_code = #{record.groupCode,jdbcType=VARCHAR},
      </if>
      <if test="record.parentGroupId != null">
        parent_group_id = #{record.parentGroupId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update use_group
    set group_id = #{record.groupId,jdbcType=INTEGER},
      group_name = #{record.groupName,jdbcType=INTEGER},
      group_remark = #{record.groupRemark,jdbcType=INTEGER},
      group_code = #{record.groupCode,jdbcType=VARCHAR},
      parent_group_id = #{record.parentGroupId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fixed.asset.model.UseGroup">
    update use_group
    <set>
      <if test="groupName != null">
        group_name = #{groupName,jdbcType=INTEGER},
      </if>
      <if test="groupRemark != null">
        group_remark = #{groupRemark,jdbcType=INTEGER},
      </if>
      <if test="groupCode != null">
        group_code = #{groupCode,jdbcType=VARCHAR},
      </if>
      <if test="parentGroupId != null">
        parent_group_id = #{parentGroupId,jdbcType=INTEGER},
      </if>
    </set>
    where group_id = #{groupId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fixed.asset.model.UseGroup">
    update use_group
    set group_name = #{groupName,jdbcType=INTEGER},
      group_remark = #{groupRemark,jdbcType=INTEGER},
      group_code = #{groupCode,jdbcType=VARCHAR},
      parent_group_id = #{parentGroupId,jdbcType=INTEGER}
    where group_id = #{groupId,jdbcType=INTEGER}
  </update>
</mapper>