<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="/common/common_css :: commonHead('首页')">
<meta content="text/html;charset=UTF-8"/>
<title sec:authentication="name"></title>
</head>
<body >
<div class="wrapper">
	<section style="height: 100%;width: 100%">
  	<!-- form start -->
  		  <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- Horizontal Form -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">新增角色</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" th:object="${role}" id="form1" th:method="post" th:action="@{/role/save}">
             <input type="hidden" th:type="hidden" th:value="*{roleId}" name="roleId" id="roleId" />
              <div class="box-body">
                <div class="form-group">
                  <label for="roleName" class="col-xs-2 control-label">角色名称</label>

                  <div class="col-xs-10 col-sm-4">
                    <input type="text" class="form-control" id="roleName" name="roleName" th:value="*{roleName}">
                  </div>
                  <label for="remark" class="col-xs-2 control-label">备注</label>

                  <div class="col-xs-10 col-sm-4">
                    <input type="text" class="form-control" id="remark" name="remark" th:value="*{remark}">
                  </div>
                </div>
                <div class="form-group">
                   <label for="roles" class="col-xs-2 control-label">资源</label>

                  <div class="col-xs-10 col-sm-4">
                     <select class="form-control select2" data-placeholder="请选择资源" id="resourceIds" name="resourceIds"  
                        multiple="multiple" style="width: 100%;">     
                        <optgroup label="" th:each="folder : ${menuFolders}" th:label="${folder.remark}">
                        	<option th:if="${menu.parentId == folder.resourceId}" th:each="menu : ${menuUrls}" th:value="${menu.resourceId}" th:text="${menu.remark}" value="1"></option>
                        </optgroup>
	                </select> 
                  </div>

                </div>
                
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <button type="reset" class="btn btn-default">重置</button>
                <button type="submit" id="subBtn" class="btn btn-info pull-right">提交</button>
              </div>
              <!-- /.box-footer -->
            </form>
          </div>
          <!-- /.box -->
        </div>
  	<!-- form end -->
  	</div>
  </section>
  </div>
<!-- ./wrapper -->

<span th:replace="/common/common_js"></span>
<!-- page script -->
<script>
  $(function () {
	  $('.select2').select2();
	  $('#form1').validator({
		  	rule:{
		  		
		  	},
		    fields: {
		        'roleName': 'required;length(1~10)',
		        'remark':'length(1~50)',
		        'resourceIds':'required;'
		    },
		    valid: function(form) {
		   		$.ajax({
				    async : false,
				    type : "POST",
				    url : "/role/save",//提交的URL
				    data : $('#form1').serialize(), // 要提交的表单
				    dataType : "json",
				    mimeType : "application/json",
				    success : function(data, status) {//status 200
						if (data.success) {
							parent.successNotify(data.code,data.desc);
						    setTimeout(() => {
						    	parent.layer.closeAll('iframe'); 
						    	parent.flushTable();
							}, 2000);
						} else {
							parent.errorNotify(data.code,data.desc);
						}
				    },
				    error : function(data, status) {
						$("#submit_button").attr("disabled", false);
						parent.errorNotify(data.code,data.desc);
				    }
				});

		    }
		});
	  

  })

</script>


</body>
</html>