<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="/common/common_css :: commonHead('首页')">
<meta content="text/html;charset=UTF-8"/>
<title sec:authentication="name"></title>
</head>
<body class="hold-transition skin-blue sidebar-mini" style="font-size: 11">
<div class="wrapper">
<header th:replace="/common/template :: header(1)"></header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar" th:replace="/common/template :: menu('2','1')"></aside>
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
  <section class="content-header" th:replace="/common/template :: breadcrumb('2')"></section>
  <section class="content">
  	<!-- 查询 start -->
    		<div class="row" style="font-size:small;">
		  		<div class="col-sm-12">
		   		 <div class="box box-info">
		            <div class="box-header">
		              	<div class="pull-left">
                    		<button id="addUserBtn" type="button" class="btn btn-info btn-xs pull-right">新增用户</button>
                  		</div>
		              	<div class="pull-left">
                    		
                  		</div>
		            </div>
		            <!-- /.box-header -->
	                <form class="form-horizontal" th:action="@{/usr/get}" th:method="get">
	                  <div class="box-body">
	                    <div class="form-group">
	                      <label for="inputEmail3" class="col-sm-2 control-label">关键词</label>
	
	                      <div class="col-sm-12 col-md-3">
	                        <input type="text" class="form-control" id="keywords" name="keywords" th:value="${keywords}">
	                      </div>
	                      
	                      <div class="col-sm-12 col-md-2 pull-right">
	                      	<button type="submit" class="btn btn-default  pull-right">提交</button>
	                      </div>
	                    </div>
	                  </div>
	                </form>
		            <!-- /.box-body -->
		          </div>
		          <!-- /.box -->
		  
			  </div>
			</div>
    		<!-- 查询 end -->
		    <!-- 数据 start-->
		    	<div class="row">
		  		<div class="col-lg-12 col-xs-12">
		   		 <div class="box box-primary">
		            <div class="box-header">
		              <h4 class="box-title">入库单列表</h4>
		            </div>
		            <!-- /.box-header -->
		            <div class="box-body">
		              <table id="example2" class="table table-bordered table-striped table-hover table-condensed">
		                <thead>
		                <tr>
		                  <th>用户名</th>
		                  <th>昵称</th>
		                  <th>状态</th>
		                  <th>角色列表</th>
		                  <th width="15%">操作</th>
		                </tr>
		                </thead>
		                <tbody>
		                <tr th:each="user : ${users}"  >
		                  <td th:text="${user.userName}">2018-01-01</td>
		                  <td th:text="${user.fullname}">王主任
		                  </td >
		                  <td th:text="${user.status == '0'} ? '正常' : '冻结'">50.0万</td>
		                  <td>待审批</td>
		                  <td>
		                  	
		                  	<button th:value="${user.userId}" type="button" class="btn  btn-success btn-xs fix-update">编辑</button>
		                  	<button th:value="${user.userId}" th:if="${user.status == '0'}" type="button" class="btn  btn-danger btn-xs fix-coll">冻结</button>
		                  	<button th:value="${user.userId}" type="button" class="btn  btn-info btn-xs fix-detail">查看</button>
		                  </td>
		                </tr>
		              </table>
		            </div>
		            <!-- /.box-body -->
		          </div>
		          <!-- /.box -->
		  
		  </div>
		</div>
		    <!-- 数据 end  -->
  </section>		
  </div>  
  <!-- /.content-wrapper -->
  <footer class="main-footer" th:replace="/common/template :: footer">
  </footer>

 
 
</div>
<!-- ./wrapper -->

<span th:replace="/common/common_js :: common"></span>
<span th:replace="/common/common_js :: layer"></span>
<!-- page script -->
<script>

  $(function () {
    $('#example2').DataTable({
        "language": {
            "url": "/ALTE/bower_components/datatables.net/datatable.zh_CN.lang"
        }
    })
    
    //绑定新增按钮操作
    $('#addUserBtn').click(function(){
    	openWindow("/user/modify");
    });
    //绑定编辑按钮
    $(".fix-update").click(function(){
    	openWindow("/user/modify/"+$(this).attr("value"));
    });
    //查看按钮
    $(".fix-detail").click(function(){
    	openWindow("/user/detail/"+$(this).attr("value"));
    });
    //冻结按钮
    $(".fix-stop").click(function(){
    	openWindow("/user/stop/"+$(this).attr("value"));
    })
  })
    

</script>
</body>
</html>