<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="/common/common_css :: commonHead('首页')">
<meta content="text/html;charset=UTF-8" />
<title sec:authentication="name"></title>
</head>
<body class="hold-transition skin-blue sidebar-mini" style="font-size: 11">
	<div class="wrapper">
		<header th:replace="/common/template :: header(1)"></header>
		<!-- Left side column. contains the logo and sidebar -->
		<aside class="main-sidebar" th:replace="/common/template :: menu('2','1')"></aside>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<section class="content-header" th:replace="/common/template :: breadcrumb('2')"></section>
			<section class="content">
				<!-- 数据 start-->
				<div class="row">
					<div class="col-lg-12 col-xs-12">
						<div class="box box-primary">
							<div class="box-header">
								<form name="filter_form" class="form form-inline">
										<div class="col-xs-12 col-sm-3 ">
											<label for="userName">用户名</label> <input type="text" class="form-control" placeholder="用户名" id="userName" name="userName"> 
											
											</div>
											<div class="col-xs-12 col-sm-3 ">
											<label for="fullname">昵称</label> <input type="text" class="form-control" placeholder="昵称" id="fullname">
											</div>
											<div class="col-xs-12 col-sm-2 ">
											<label for="status" >状态</label>
												<select class="input-small" id="status-search" class="form-control">
												<option value="">全部</option>
												<option value="0">激活</option>
												<option value="1">冻结</option>
											</select> 
											</div>
											<div class="col-xs-12 col-sm-2 ">
											<label for="roles">角色</label>
											<select class="input-small" id="role-search" class="form-control">
												<option value="">全部</option>
												<option value="1">管理员</option>
												<option value="0">入库管理员</option>
											</select>
											</div>
											<div class="col-xs-12 col-sm-2 ">
											<div class="btn-toolbar">
												<button type="button" class="btn btn-primary pull-right" onclick="addUser()">
													<i class="fa fa-user-plus"></i> 新增
												</button>
												
												<button type="button" class="btn btn-info pull-right" onclick="flushTable()">
													<i class="fa fa-search"></i> 查询
												</button>
												
											</div>
											</div>
								</form>
							</div>
							<!-- /.box-header -->
							<div class="box-body">
								<table id="example2" class="table table-bordered table-striped table-hover table-condensed" width="100%">
									<thead>
										<tr>
											<th>用户名</th>
											<th>昵称</th>
											<th>状态</th>
											<th>操作</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							</div>
							<!-- /.box-body -->
						</div>
						<!-- /.box -->

					</div>
				</div>
				<!-- 数据 end  -->
			</section>
		</div>
		<!-- /.content-wrapper -->
		<footer class="main-footer" th:replace="/common/template :: footer"> </footer>



	</div>
	<!-- ./wrapper -->

	<span th:replace="/common/common_js :: common"></span>
	<span th:replace="/common/common_js :: layer"></span>

	<!-- page script -->
	<script type="text/javascript">
		var form1Table;
		function flushTable() {

			var url = '/user/ajax_get';

			form1Table.ajax.url(url).load();
		}

		function addUser() {
			openWindow("新增用户", "/user/modify");
		}
		
		//绑定编辑按钮
		function update(userId){
			openWindow("编辑用户", "/user/modify/" + userId);
		}

		//冻结按钮
		 function stop(userId) {
			$.ajax({
				timeout : 20000,
				type : "get",
				processData : false,
				contentType : false,
				dataType : "json",
				url : "/user/stop/" + userId,
				success : function(data, status) {//status 200
					if (data.success) {console.log(data);
						successNotify(data.code,data.desc);
						flushTable();
					} else {
						errorNotify(data.code,data.desc);
					}
			    },
			    error : function(data, status) {
			    	errorNotify(data.error,data.message);
			    }
			});
		}

		//激活按钮
		function active(userId) {
			$.ajax({
				timeout : 20000,
				type : "get",
				processData : false,
				contentType : false,
				dataType : "json",
				url : "/user/active/" + userId,
				success : function(data, status) {//status 200
					if (data.success) {console.log(data);
						successNotify(data.code,data.desc);
						flushTable();
					} else {
						errorNotify(data.code,data.desc);
					}
			    },
			    error : function(data, status) {
			    	errorNotify(data.error,data.message);
			    }
			});
		}

		function deleteObj(userId) {
			var id = $(this).attr("value");
			var formData = new FormData();
			formData.append("userIds", userId);
			$.ajax({
				timeout : 20000,
				type : "post",
				processData : false,
				contentType : false,
				dataType : "json",
				url : "/user/delete",
				data : formData,
				success : function(data, status) {//status 200
					if (data.success) {console.log(data);
						successNotify(data.code,data.desc);
						flushTable();
					} else {
						errorNotify(data.code,data.desc);
					}
			    },
			    error : function(data, status) {
					errorNotify(data.error,data.message);
			    }
			});
		}

		$(function() {

			form1Table = $('#example2')
					.DataTable(
							{
								"language" : {
									"url" : "/ALTE/bower_components/datatables.net/datatable.zh_CN.lang"
								},
								"processing" : true,
								searching : false,
								autoWidth : true,
								columnDefs : [
										{
											targets : 2,
											render : function(data, type, row,meta) {
												var html = data == 1 ? "<span class=\"label label-danger\">冻结</span>"
														: "<span class=\"label label-success\">正常</span>";
												return html;
											}
										},
										{
											targets : 3,
											render : function(a, b, c, d) {
												var html=	" <button type=\"button\" class=\"btn btn-success btn-sm\" onclick=\"update("+c.userId+")\">编辑</button>"
												+ " <button type=\"button\" class=\"btn btn-danger btn-sm \" onclick=\"deleteObj("+c.userId+")\">删除</button>";
												if(c.status == 1){//已经冻结
													html += " <button type=\"button\" class=\"btn btn-success btn-sm \" onclick=\"active("+c.userId+")\">激活</button>";
												}else{
													html += " <button type=\"button\" class=\"btn btn-warning btn-sm \" onclick=\"stop("+c.userId+")\">冻结</button>";
												}
												return html;
											}
										} ],
								//开启服务器模式
								serverSide : true,
								ajax : {
									url : '/user/ajax_get?keywords=',
									dataSrc : 'data'
								},
								columns : [ {
									"data" : "userName"
								}, {
									"data" : "fullname"
								}, {
									"data" : "status"
								}, {
									"data" : null,
									"width" : "15%"
								}, ]
							});

			

			

		});
	</script>
</body>
</html>